az-panel {
  color: var(--az-panel-caption-color);
  background-color: var(--az-primary-color)
  font-size: var(--az-font-size);
  font-family: var(--az-font-family);
  display: block;
  padding: var(--az-panel-padding);
  legend {
    border-bottom: 1px solid #666;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
  }
}