az-panel {
  color: var(--az-caption-color);
  background-color: var(--az-primary-color)
  font-size: var(--az-font-size-normal);
  font-family: var(--az-font-family);
  display: block;
  padding: var(--az-padding-normal2);
  height: 100%;
  legend {
    border-bottom: 1px solid #666;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
  }
}