az-panel {
  display: flex;
  background-color: var(--az-primary-color)
  padding: var(--az-padding-normal2);
  height: 100%;
  color: var(--az-caption-color);
  font-family: var(--az-font-family);
  font-size: var(--az-font-size-normal);
  legend {
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
  }
}

az-panel.horizontal {
  flex-direction: row;
  align-items: flex-end;
}
az-panel.vertical {
  flex-direction: column;
  align-items: stretch;
}