az-input {
  position: relative;
  input {
    background: #252525;
    border: none;
    color: var(--az-caption-color);
    padding: 2px;
    border: 1px solid #888;
    border-radius: var(--az-border-radius-mini);
    outline: 0;
  }
  &:hover input[type=text] {
    border-color: var(--az-caption-color);
  }
  .az-input-caption {
    margin-right: 0.5em;
  }
  az-icon.clear {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    .icon path {
      fill: var(--az-primary-color);
    }
    &:hover .icon path{
      fill: var(--az-caption-color);
    }
  }
  &.empty az-icon {
    display: none;
  }
  .color-picker {
    display: none;
    position: absolute;
    background-color: var(--az-primary-color);
    &.left {
      left: 0;
    }
    &.bottom {
      bottom: 0;
      transform: translateY(100%) translateY(4px);
    }
    &.right {
      right: 0;
    }
    &.top {
      top: 0;
      transform: translateY(-100%) translateY(-4px)
    }
  }
}