az-input {
  input {
    background: #252525;
    border: none;
    color: var(--az-caption-color);
    padding: 2px;
    border: 1px solid #888;
    border-radius: var(--az-border-radius-mini);
    outline: 0;
    &:hover {
      border-color: var(--az-caption-color);
    }
  }
  .az-input-caption {
    margin-right: 0.5em;
  }
}