az-button {
  display: inline-block;
}
az-button button {
  font-size: 1rem;
  font-family: var(--az-font-family);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0 0.5em;
  min-width: 20px;s
  line-height: 1em;
  outline: 0;

  border: var(--az-button-border);
  border-radius: var(--az-border-radius-mini);

  color: var(--az-button-caption-color);
  background-color: var(--az-button-bg-color);
  &:hover {
    border-color: var(--az-caption-color);
  }
}

az-button .plain {
  border: none;
}

az-button .icon {
  font-style: normal;
}

az-button.mini button{
  font-size: .66666667rem;
  height: 18px
}

az-button.tiny button{
  font-size: .91666667rem;
  height: 21px
}

az-button.small button{
  font-size: .91666667rem;
  height: 24px
}

az-button.large button{
  font-size: 1.16666667rem;
  height: 29px
}

az-button.big button{
  font-size: 1.33333333rem;
  height: 33px
}

az-button.huge button{
  font-size: 1.5rem;
  height: 36px
}

az-button.massive button{
  font-size: 1.83333333rem;
  height: 44px
}