:host {
  display: inline-block;
}
:host button {
  font-size: 1rem;
  font-family: var(--az-font-family);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0 1.5em;
  min-width: 20px;s
  line-height: 1em;
  outline: 0;

  border: var(--az-button-border);
  border-radius: var(--az-border-radius-mini);

  color: var(--az-button-caption-color);
  background-color: var(--az-button-bg-color);
  background-image: linear-gradient(#585858,#444);

}

::slotted(.icon) {
  font-style: normal;
}


:host(.mini) button{
  font-size: .66666667rem;
  height: 18px
}

:host(.tiny) button{
  font-size: .91666667rem;
  height: 21px
}

:host(.small) button{
  font-size: .91666667rem;
  height: 24px
}

:host(.large) button{
  font-size: 1.16666667rem;
  height: 29px
}

:host(.big) button{
  font-size: 1.33333333rem;
  height: 33px
}

:host(.huge) button{
  font-size: 1.5rem;
  height: 36px
}

:host(.massive) button{
  font-size: 1.83333333rem;
  height: 44px
}

:host(:hover) {
  background-image: linear-gradient(#626262, #4e4e4e);
  color: #d1d1d1
}

:host([focused]) {
  border-color: #fd942b
}

:host([pressed]) {
  color: #8b8b8b;
  background: #3a3a3a
}