az-button {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  border-radius: var(--az-border-radius-mini);
}
az-button button {
  font-size: var(--az-font-size-normal);
  font-family: var(--az-font-family);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: 100%;
  padding: 0 0.5em;
  min-width: 20px;s
  line-height: 1em;
  outline: 0;
  transition: var(--az-transition-duration-default);

  border: 1px solid var(--az-border-color);
  border-radius: var(--az-border-radius-mini);

  color: var(--az-caption-color);
  background-color: var(--az-primary-color);
  &:hover {
    border-color: var(--az-caption-color);
  }
  az-icon.left {
    margin-right: var(--az-padding-normal);
  }
  az-icon.right {
    margin-left: var(--az-padding-normal);
  }
  slot-fb {
    display: inline-flex;
  }
}

az-button .icon {
  font-style: normal;
}
az-button[disabled] button{
  cursor: not-allowed;
}

/* size */

az-button button.extra-small {
  font-size: var(--az-font-size-extra-small);
  height: 18px
  line-height: 18px;
  &.round {
    border-radius: 9px;
  }
}

az-button button.small {
  font-size: var(--az-font-size-small);
  height: 20px;
  line-height: 20px
  &.round {
    border-radius: 10px;
  }
}

az-button button.normal {
  font-size: var(--az-font-size-normal);
  height: 24px;
  line-height: 24px
  &.round {
    border-radius: 12px;
  }
}

az-button button.medium {
  font-size: var(--az-font-size-medium);
  height: 28px;
  line-height: 28px
  &.round {
    border-radius: 14px;
  }
}

az-button button.large {
  font-size: var(--az-font-size-large);
  height: 32px;
  line-height: 32px
  &.round {
    border-radius: 16px;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
}

az-button button.extra-large {
  font-size: var(--az-font-size-extra-large);
  height: 34px
  &.round {
    border-radius: 17px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

/* type */
az-button {
  button.plain {
    border: none;
    background: none;
  }
  &:hover {
    background-color: var(--az-highlight-color);
  }
}
az-button button.circle {
  border-radius: 50%;
}
az-button button.success {
  color: #fff;
  border-color: var(--az-success-color);
  background-color: var(--az-success-color);
  &:hover {
    border-color: var(--az-success-color-light);
    background-color:var(--az-success-color-light);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2em s("rgba(var(%s), %s)", --az-success-color-comps, 0.2);
  }
}
az-button button.warning {
  color: #fff;
  border-color: var(--az-warning-color);
  background-color: var(--az-warning-color);
  &:hover {
    border-color: var(--az-warning-color-light);
    background-color:var(--az-warning-color-light);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2em s("rgba(var(%s), %s)", --az-warning-color-comps, 0.2);
  }
}
az-button button.danger {
  color: #fff;
  border-color: var(--az-danger-color);
  background-color: var(--az-danger-color);
  &:hover {
    border-color: var(--az-danger-color-light);
    background-color:var(--az-danger-color-light);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2em s("rgba(var(%s), %s)", --az-danger-color-comps, 0.2);
  }
}
az-button button.info {
  color: #fff;
  border-color: var(--az-info-color);
  background-color: var(--az-info-color);
  &:hover {
    border-color: var(--az-info-color-light);
    background-color:var(--az-info-color-light);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2em s("rgba(var(%s), %s)", --az-info-color-comps, 0.2);
  }
}

/* disalbed */
az-button[disabled] button.primary {
  border-color: var(--az-disabled-color);
  background: var(--az-disabled-color);
}

az-button[disabled] button.success {
  border-color: var(--az-success-color-disabled);
  background-color: var(--az-success-color-disabled);
}
az-button[disabled] button.warning {
  border-color: var(--az-warning-color-disabled);
  background-color: var(--az-warning-color-disabled);
}
az-button[disabled] button.danger {
  border-color: var(--az-danger-color-disabled);
  background-color: var(--az-danger-color-disabled);
}
az-button[disabled] button.info {
  border-color: var(--az-info-color-disabled);
  background-color: var(--az-info-color-disabled);
}