az-form {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    padding: 0;
    &.label-left .az-caption {
      text-align: left;
    }
    &.label-right .az-caption {
      text-align: right;
    }
    &.label-top .az-caption {
      display: block;
      margin-bottom: 0.5em;
      align-self: flex-start;
    }
    &.label-top az-form-item > *:first-child {
      flex-direction: column;
    }
  }
  fieldset {
    border: 1px solid var(--az-border-color);
    border-radius: var(--az-border-radius-mini);
  }
  legend.az-caption {
    width: auto !important;
  }
  az-form-item {
    display: inline-flex;
    width: 100%;
    margin: 0.5em 0;
    & > *:first-child {
      width: 100%;
    }
    .az-caption {
      display: inline-block;
    }
    .az-caption ~ * {
      flex-grow: 1;
    }
  }
  .az-form__footer {
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-end;
  }
}