az-color-picker {
  display: inline-block;
  .az-color-picker-panel {
    position: relative;
    overflow: hidden;
    width: 232px;
    height: 124px;
    background-image:
      linear-gradient(0deg, #000, transparent),
      linear-gradient(90deg, #fff,transparent);
  }
  .az-color-picker-straw {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,80%);
    pointer-events: none;
  }
  az-slider {
    width: 100%;
    input[type=range] {
      width: 100%;
      margin: 0;
      &::-webkit-slider-thumb {
        border-radius: 100%
        background: white;
        transform: scale(1.5);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
      }
    }
  }
}