az-tabs {
  display: block;
  .az-tabs__tabs {
    border-bottom: 1px solid #666;
    ul {
      display: inline-flex;
      position: relative;
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      flex: 1;
      margin: 0;
      border-top-left-radius: var(--az-border-radius-mini);
      border-top-right-radius: var(--az-border-radius-mini);
      cursor: default;
      padding: 0.5em 0.5em;
      list-style: none;
      white-space: nowrap;
      & > az-icon {
        margin-right: 2px;
      }
      & > .az-icon-close {
        position: absolute;
        top: 3px;
        right: 3px;
        margin: 0;
        visibility: hidden;
        cursor: pointer;
      }
    }
    li.active {
      border-bottom: none;
      background-color: var(--az-highlight-color);
    }
    li.active.closable > .az-icon-close {
      visibility: visible;
    }
    li.closable {
      padding-right: 16px;
    }
  }
  .az-tabs__indicator {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: all ease var(--az-transition-duration-default);
    background-color: var(--az-caption-color);
    width: 100%;
    height: 1px;
  }
  .az-tabs__content > :not(.visible) {
    display: none;
  }
}