az-splitter {
  display: flex;
  position: relative;
  padding: 0 !important;
  & > :not(.handle) {
    padding: 0 !important;
    margin: 0 !important;;
    overflow: hidden !important;;
  }
  .handle {
    position: absolute;
    z-index: var(--az-zindex-handle);
    &.active {
      background-color: var(--az-highlight-color);
    }
    &:hover {
      background-color: var(--az-highlight-color);
      opacity: 0.8;
    }
  }
  &.horizontal{
    flex-direction: row;
    width: 100%;
    .handle {
      cursor: col-resize;
      top: 0;
      bottom: 0;
    }
  }
  &.vertical {
    height: 100%;
    flex-direction: column;
    .handle {
      cursor: row-resize;
      left: 0;
      right: 0;
    }
  }
}