:root {
  /* font */
  --az-font-family: Roboto,-apple-system,BlinkMacSystemFont,'Helvetica Neue','Segoe UI',Oxygen,Ubuntu,Cantarell,'Open Sans',SourceHanSansCN-Normal,sans-serif;
  --az-font-size-extra-small: 9px;
  --az-font-size-small: 10px;
  --az-font-size-normal: 12px;
  --az-font-size-medium: 14px;
  --az-font-size-large: 16px;
  --az-font-size-extra-large: 16px;

  /* border */
  --az-border-radius-mini: 3px;
  --az-border-radius-normal: 5px;

  /* padding */
  --az-padding-normal: 0.5em;
  --az-padding-normal2: 1em;

  /* margin */

  /* colors */
  --az-caption-color: #ddd;
  --az-caption-color-comps: rgb(221, 221, 221);
  --az-border-color: #727272;
  --az-border-color-comps: rgb(114, 114, 114);
  --az-tooltip-color: #555;
  --az-tooltip-color-comps: rgb(85, 85, 85);
  --az-primary-color: #494949;
  --az-primary-color-comps: rgb(73, 73, 73);
  --az-highlight-color: #666;
  --az-highlight-color-comps: rgb(102, 102, 102);
  --az-disabled-color: #828282;
  --az-disabled-color-comps: rgb(130, 130, 130);

  --az-success-color: #5fb534;
  --az-success-color-comps: 95, 181, 52;
  --az-warning-color: #d89736;
  --az-warning-color-comps: 216, 151, 54;
  --az-danger-color: #e05f5f;
  --az-danger-color-comps: 224, 95, 95;
  --az-info-color: #409eff;
  --az-info-color-comps: 64, 158, 255;

  --az-success-color-light: lighten(#5fb534, 20%);
  --az-warning-color-light: lighten(#d89736, 20%);
  --az-danger-color-light: lighten(#e05f5f, 20%);
  --az-info-color-light: lighten(#409eff, 20%);

  --az-success-color-dark: darken(#5fb534, 20%);
  --az-warning-color-dark: darken(#d89736, 20%);
  --az-danger-color-dark: darken(#e05f5f, 20%);
  --az-info-color-dark: darken(#409eff, 20%);

  --az-success-color-disabled: desaturate(#5fb534, 80%);
  --az-warning-color-disabled: desaturate(#d89736, 80%);
  --az-danger-color-disabled: desaturate(#e05f5f, 80%);
  --az-info-color-disabled: desaturate(#409eff, 80%);

  /* animation */
  --az-transition-duration-default: 200ms;
  --az-transform-animation-duration-normal: 100ms;

  /* z-index */
  --az-zindex-base: 1000;
  --az-zindex-tooltip: calc(var(--az-zindex-base) + 100);
  --az-zindex-menu: calc(var(--az-zindex-base) + 200);
  --az-zindex-notification: calc(var(--az-zindex-base) + 300);
  --az-zindex-dialog: calc(var(--az-zindex-base) + 400);
  --az-zindex-mask: calc(var(--az-zindex-base) + 500);
}
.aztec-app {
  font-family: var(--az-font-family);
  font-size: var(--az-font-size-normal);
  background-color: var(--az-primary-color);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  & * {
    box-sizing: border-box;
  }
  .az-caption {
    color: var(--az-caption-color);
  }
}

.az-anim-loading {
  animation: az-anim-spin 1s infinite linear;
}

@keyframes az-anim-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes az-left-fade-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes az-right-fade-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes az-bottom-fade-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes az-up-fade-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes az-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes az-up-fade-out {
  0% {
    max-height: 150px;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auot;
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}