az-toolbar {
  display: flex;
  align-items: center;
  az-toolbar-separator {
    display: inline-flex;
    border-width: 0;
    border-style: solid;
    border-color: var(--az-highlight-color);
  }
  &.horizontal {
    az-toolbar-separator {
      border-left-width: 1px;
      width: 0px;
      height: auto;
      margin: 0 0.5em
    }
    & > * {
      margin: 0 2px;
    }
    & > *:first-child {
      margin-left: 0;
    }
    & > *:last-child {
      margin-right: 0;
    }
  }
  &.vertical {
    az-toolbar-separator {
      border-top-width: 1px;
      height: 0px;
      width: 100%;
      margin: 0.5em 0;
    }
  }
}