az-select {
  display: inline-flex;
  position: relative;
  contain: content;
  outline: 0;
  flex: none;
  flex-direction: row;
  margin: 0 .25em 0 0;
  width: auto;
  min-width: 20px;
  border: 1px solid var(--az-border-color);
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border-color: var(--az-caption-color);
  }
}

az-select select {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', SourceHanSansCN-Normal, sans-serif;
  -webkit-appearance: none;
  display: flex;
  flex: 1;
  outline: 0;
  border: 0;
  margin: 0;
  padding: .084em 2em .084em .8em;
  border-radius: var(--az-border-radius-mini);
  text-decoration: none;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--az-caption-color);
  background: 0 0;
  width: 100%
}
select option {
  color: var(--az-caption-color);
  background: #4e4e4e
}

select optgroup {
  color: var(--az-caption-color);
  background: #585858
}

az-select::after {
  display: inline-block;
  position: absolute;
  content: '▼';
  right: 2px;
  top: 1px;
  pointer-events: none;
  width: 1em;
  height: 1em;
  bottom: 0;
  text-align: center;
  transform: scaleY(.6);
}


