az-context-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--az-primary-color);
  // border: 1px solid var(--az-border-color);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  z-index: var(--az-zindex-menu);
  display: none;
  &.left {
    left: 0;
  }
  &.bottom {
    bottom: 0;
    transform: translateY(100%) translateY(4px);
  }
  &.right {
    right: 0;
  }
  &.top {
    top: 0;
    transform: translateY(-100%) translateY(-4px)
  }
  &.to-left {
    top: 0;
    left: 0;
    transform: translateX(-100%)
  }
  &.to-right {
    top: 0;
    right: 0;
    transform: translateX(100%)
  }
}