az-context-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--az-primary-color);
  // border: 1px solid var(--az-border-color);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  display: none;
}