az-checkbox {
  cursor: pointer;
  line-height: 18px;
  & > .az-checkbox__box {
    border: 1px solid var(--az-border-color);
    border-radius: var(--az-border-radius-mini);
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    &:hover {
      border-color: var(--az-caption-color);
    }
    az-icon {
      transition: transform var(--az-transform-animation-duration-normal);
    }
    az-icon.check {
      transform: scale(0);
    }
    &.checked az-icon.check {
      transform: scale(1);
    }
    az-icon.minus {
      transform: scale(0.6);
    }
  }
}