az-checkbox {
  cursor: pointer;
  & > .az-checkbox-box {
    border: var(--az-checkbox-border-color);
    border-radius: var(--az-border-radius-mini);
    width: 15px;
    height: 15px;
    line-height: 16px;
    display: inline-block;
    margin-right: 0.5em;
    &:hover {
      border-color: var(--az-caption-color);
    }
    az-icon {
      transition: transform var(--az-transform-animation-duration);
    }
    az-icon.check {
      transform: translate(0, -3px) scale(0);
    }
    &.checked az-icon.check {
      transform: translate(0, -3px) scale(1);
    }
    az-icon.minus {
      transform: translate(0, -3px) scale(0.6);
    }
  }
}