az-section {
  display: block;
}
az-section section {
  background-color: var(--az-primary-color);
  font-family: var(--az-font-family);
  font-size: var(--az-font-size-normal);
  &.collapsable .header .caption:before {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
  }
  .header {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #666;
    padding-bottom: 0.2em;
    height: 2em;
    line-height: 2em;
    color: var(--az-caption-color);
    & > .az-section-caption {
      cursor: pointer;
      & az-icon {
        display: inline-block;
        margin-right: 0.5em;
        text-align: center;
        svg {
          transform: rotate(180deg);
          transition: transform var(--az-transform-animation-duration-normal);
        }
      }
    }
    .right {
      float: right;
    }
  }
  .header.arrow-right .az-section__arrow {
    float: right;
  }
  .content {
    transition: transform var(--az-transform-animation-duration-normal);
    padding: var(--az-font-size-normal);
    tansform-origin: top;
  }
  &.collapsed {
    .header .az-section-caption az-icon svg {
      transform: rotate(0deg);
    }
    .content {
      transform: scaleY(0);
      height: 0;
      overflow: hidden;
    }
  }
}
