az-section {
  display: block;
}
az-section section {
  font-size: var(--az-section-font-size);
  font-family: var(--az-font-family);
  background-color: var(--az-primary-color);
  &.collapsable .header .caption:before {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
  }
  .header {
    color: var(--az-section-caption-color);
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #666;
    & > .az-section-caption {
      cursor: pointer;
      & az-icon {
        transform: rotate(90deg);
        text-align: center;
        display: inline-block;
        margin-right: 0.5em;
        transition: transform var(--az-transform-animation-duration);
      }
    }
    .right {
      float: right;
    }
  }
  .content {
    tansform-origin: top;
    transition: transform var(--az-transform-animation-duration);
    padding: var(--az-section-content-padding, 0.5em);
  }
  &.collapsed {
    .header .az-section-caption az-icon {
      transform: rotate(0deg);
    }
    .content {
      transform: scaleY(0);
      height: 0;
      overflow: hidden;
    }
  }
}
