az-menu-item {
  flex: auto;
  padding: var(--az-padding-normal);
  cursor: default;
  &:hover {
    background-color: var(--az-highlight-color);
  }
  .az-caption {
    margin: auto 0.5em;
  }
}
.az-menu-item__separator {
  height: 1px;
  line-height: 0;
  padding: 0;
  background-color: var(--az-border-color);
}