az-dialog {
  display: flex;
  flex-direction: column;
  font-family: var(--az-font-family);
  position: fixed;
  border-radius: var(--az-border-radius-mini);
  border: 1px solid #727272;
  background-color: var(--az-primary-color);
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.2)
  z-index: var(--az-zindex-dialog);
  padding: 1em;
  color: var(--az-caption-color);
  min-width: 280px;
  top: 38.2%;
  &:not(.fixed) .az-dialog__header {
    cursor: move;
  }
  .az-dialog__header {
    text-align: left;
    line-height: 2em;
  }
  .az-dialog__title {
    font-size: var(--az-font-size-large);
  }
  .az-dialog__icons {
    float: right;
    az-button {
      vertical-align: baseline;
    }
  }
  .az-dialog__body {
    flex: 1;
  }
  .az-dialog__footer {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    & az-button {
      margin-left: 0.5em;
    }
  }
}
.az-dialog-container {
  top: 0;
  left: 0;
  background-color: transparent;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.267s ease 0s;
}

.az-dialog-container.mask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--az-zindex-mask);
}