az-tree {
  display: block;
  .az-tree-item {
    display: block;
    &.expanded .az-tree-item-children{
      height: auto;
      transform: scaleY(1);
      transition: transform var(--az-transform-animation-duration-normal);
    }
    &.collapsed .az-tree-item-children{
      overflow: hidden;
      height: 0;
      transform: scaleY(0);
      transition: transform var(--az-transform-animation-duration-normal);
    }
  }
  .collapsed .joint {
    transform: rotate(90deg);
  }
  .hide {
    visibility: hidden;
  }
  .az-tree-item-caption {
    cursor: pointer;
    line-height: 24px;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    az-icon {
      height: 24px;
    }
    .joint {
      width: 24px;
      transition: transform var(--az-transform-animation-duration-normal);
    }
    &:hover {
      background-color: #4e4e4e;
    }
  }
}